# ---------------------------------------------
# Ansible
# ---------------------------------------------
alias ans="ansible"
alias ansg="ansible-galaxy"
alias ansp="ansible-playbook"
alias ansv="ansible-vault"

# ---------------------------------------------
# Homebrew
# ---------------------------------------------
alias b=brew
alias bi="b install"
alias bic="b install --cask"
alias binf="b info"
alias bls="b ls"
alias bud="b update"
alias bug="b upgrade"
alias bui="b uninstall"
alias buic="b uninstall --cask"

# ---------------------------------------------
# Containers / Docker
# ---------------------------------------------
if which docker > /dev/null 2>&1; then
	alias dcp="docker compose pull"
	alias dk="docker"
	alias dkimg="dk image"
	alias dkimgs="dk images"
	alias dkl="dk logs"
	alias dklf="dkl -f"
	alias dkps="dk ps"
	alias dkpsa="dk ps -a"
	alias dkr="dk run"
	alias dkrm="dk rm"
	alias dkrma="dkrm $(dk ps -aq)"
	alias dks="dk stop"
	alias dksa="dks $(dk ps -aq)"
	alias dkst="dk stats"
	alias dps="dk ps -a"

	alias alpine="dk run --rm --name alpine -it alpine /bin/sh"
	alias ubuntu="dk run --rm --name ubuntu -it ubuntu /bin/bash"
fi

# ---------------------------------------------
# Shortcuts
# ---------------------------------------------
alias ai="opencode"
# alias clock="tock -c -s -C 15"
alias cls="clear"
alias config="edit ~/.zshrc"
alias dotenv='export $(cat .env 2>/dev/null | grep -v "^#" | xargs)'
alias exot="exit"
alias flush-dns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
alias home="~"
alias json="jq"
alias localip="ipconfig getifaddr en0"
alias ls="lsd -l"
alias minify="tr -d "\n\r""
alias mkv-to-mp4="for f in *.mkv; do ffmpeg -i "$f" -c copy "${f%.mkv}.mp4"; done"
alias oc="opencode"
alias pod64='arch -x86_64 pod'
alias prune-ds-store="/usr/bin/find . -name ".DS_Store" -depth -exec rm {} \;"
alias prune-node-modules='find . -name "node_modules" -type d -prune -exec rm -rf {} \;'
alias reload="source ~/.zshrc"
alias speed-test="networkQuality -sv"
alias yaml="yq"
