# Ansible
alias ans="ansible"
alias ansg="ansible-galaxy"
alias ansp="ansible-playbook"
alias ansv="ansible-vault"

# Brew / Homebrew
alias b=brew
alias bi="b install"
alias bic="b install --cask"
alias binf="b info"
alias bls="b ls"
alias bud="b update"
alias bug="b upgrade"
alias bui="b uninstall"

# Cargo
alias c="cargo"
alias ca="cargo add"
alias cargo-sort="cargo-sort-ck ./Cargo.toml -w"
alias cb="cargo build"
alias cbr="cargo build --release"
alias cr="cargo run"
alias crr="cargo run --release"
alias cs="cargo-sort"
alias ct="cargo test"

# Containers / Docker
if which docker > /dev/null 2>&1; then
	alias dcp="docker compose pull"
	alias dk="docker"
	alias dkimg="dk image"
	alias dkimgs="dk images"
	alias dkl="dk logs"
	alias dklf="dkl -f"
	alias dkps="dk ps"
	alias dkpsa="dk ps -a"
	alias dkr="dk run"
	alias dkrm="dk rm"
	alias dkrma="dkrm $(dk ps -aq)"
	alias dks="dk stop"
	alias dksa="dks $(dk ps -aq)"
	alias dkst="dk stats"
	alias dps="dk ps -a"
fi


# Deno
alias dn="deno"
alias dnf="deno fmt"
alias dnl="deno lint"
alias dnr="deno task"
alias dnt="deno test"

# Node / npm 
alias js="node"
alias n=node
alias nrb='nr build'
alias nrd='nr dev'
alias nrf='nr format'
alias nrl='nr lint'
alias nrs='nr start'
alias nrt='nr test'
alias p="pnpm"
alias ts="tsx"

# Xmake
alias x="xmake"
alias xr="xrepo"

# Shortcuts
alias alpine="dk run --rm --name alpine -it alpine /bin/sh"
alias clock="tock -c -s -C 15"
alias cls="clear"
alias config="edit ~/.zshrc"
# alias df="duf"
# alias dig="dog"
# alias du="dust"
alias exot="exit"
alias find="fzf"
alias flush-dns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
alias home="~"
alias jqi="jnv"
alias json-parse="jq"
alias json="fx"
alias localip="ipconfig getifaddr en0"
alias ls="lsd -l"
alias minify="tr -d "\n\r""
alias mkv-to-mp4="for f in *.mkv; do ffmpeg -i "$f" -c copy "${f%.mkv}.mp4"; done"
alias ping="gping"
alias pod64='arch -x86_64 pod'
alias prune-ds-store="/usr/bin/find . -name ".DS_Store" -depth -exec rm {} \;"
alias ps="procs"
alias reload="source ~/.zshrc"
# alias send="ffsend"
alias speed-test="networkQuality -sv"
alias ubuntu="dk run --rm --name ubuntu -it ubuntu /bin/bash"
