[user]
	name = Ben Dixon
	email = ben@nuro.dev
[github]
	user = nurodev
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	autocrlf = input
	editor = nano
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[url "ssh://git@github.com/"]
	insteadOf = github:
[url "ssh://git@github.com/"]
	insteadOf = gh:
[diff "lockb"]
	textconv = bun
	binary = true
